<!DOCTYPE html>
<html>
<head>
    <title>Input Text</title>
    
    <style>
    
            body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        
        #user_input {
            width: 100%;
        }
    
    </style>
</head>
<body>
 <h1>Input Text</h1>
    <form method="GET" action="http://192.168.12.23:8090/generate_text">
        <textarea id="user_input" name="user_input" rows="10"></textarea>
        <br>

            <div id="buttonRow">
                <input type="submit" value="Generate">
            </div>

    </form>
    
    
</body>
</html>
